<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles (title = 'Listagem de Livros')">
</head>
<body>

	<header th:replace="fragments/general.html :: header">
	</header>

	<div class="container my-3">
		
		<h1 class="display-4 text-center my-3">Lista dos Livros Cadastrados</h1>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titulo</th>
					<th scope="col">Autor</th>
					<th scope="col">Estoque</th>
					<th scope="col">Registro</th>
					<th scope="col">Acao</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod : ${livros}">
					<th scope="row" th:text="${prod.id}"></th>
					<th th:text="${prod.titulo}"></th>
					<th th:text="${prod.autor}"></th>
					<th th:text="${prod.quantity > 0} ? 'Sim' : 'Nao'"></th>
					<th th:text="${#dates.format(prod.registration, 'dd/MM/yyyy')}"></th>
					<th>
						<a class="btn btn-outline-primary"
							th:href="@{/livros/details/{id}(id = ${prod.id})}">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
						<a class="btn btn-outline-success"
							th:href="@{/livros/save/{id}(id = ${prod.id})}">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
						<a class="btn btn-outline-danger"
							th:href="@{/livros/delete/{id}(id = ${prod.id})}">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</a>
					</th>
				</tr>
			</tbody>
		</table>
		
	</div>

	<footer th:replace="fragments/general.html :: footer">
	</footer>

</body>
</html>