<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles (title = 'Início')">
</head>
<body>

	<header th:replace="fragments/general.html :: header">
	</header>

	<div class="container my-3">
		<div class="jumbotron">
			<h1 class="display-4">Seja bem vindo ao sistema de Gerenciamento de Livros</h1>
			<p class="lead">Sistema de gerenciamento de liros da biblioteca do campus
			 IFBA Santo Amaro</p>
			<hr class="my-4">
			<p>Para fazer login clique aqui</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
			</p>
		</div>
	</div>

	<footer th:replace="fragments/general.html :: footer">
	</footer>

</body>
</html>